a {
	text-decoration: none;
	color: $grayDark;
	background-color: $yellow;
	
	&:hover {
		color: $gray;
		background-color: transparent;
	}
	
}

article {
	h1.entry-title {
		a {
			background-color: transparent;
		}
	}
}

#masthead {
	a {
		background-color: transparent;
	}
}