@mixin breakpoint($point) {

	@if $point == papa-bear {
		@media (min-width: 1251px) { @content; }
	}
	
	@else if $point == mama-bear {
		@media (max-width: 1250px) { @content; }
	}
  
	@else if $point == baby-bear {
		@media (max-width: 800px)  { @content; }
	}

}

@mixin bebas {
	font-family: "bebas-neue",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: $grayDark;
}