@include establish-baseline;

html { 
	font-family: "proxima-nova",sans-serif;
	color: $gray;
}

#{headings()} {
	font-weight: bold;
	color: #333;
}

h1 {
	@include adjust-font-size-to($h1-font-size);
	@include adjust-leading-to(1/2);
	
	&.site-title {
		@include bebas;
	}
}
h2 {
	@include adjust-font-size-to($h2-font-size);
}
h3 {
	@include adjust-font-size-to($h3-font-size);
}

#{headings(4,6)} {
	@include adjust-font-size-to($base-font-size);
	font-weight: bold;
}

article {
	.entry-meta {
		@include adjust-font-size-to($small-font-size);
		color: $grayLight;
		a {
			color: $grayLight;
		}
	}
}

#secondary {
	@include adjust-font-size-to($small-font-size);
	h1 {
		@include adjust-font-size-to($h2-font-size);
	}
	h2 {
		@include adjust-font-size-to($h3-font-size);
	}
}